* {
    box-sizing: border-box;
  }
  
  .writeTable-div{
    width: 100vh;
    height: 10vh;
    justify-content: center;
    float: right;
    display: flex;
    margin-top: 4vh;
  }
  
  .writeTable-wrapper{
    text-align: center;
    width: 80vh;
    overflow: hidden;
    padding: 0;
    margin: 0 .5vh;
  }
  
  .writeTable-cell, .writeTable-input {
    width: 19.7vh;
    padding: 0;
    margin: 0;
  }
  
  .writeTable-input{
    width: 19.7vh;
    margin: 0 .5vh;
  }
  
  .writeTable-wrapper {
    overflow-x: scroll; 
    scrollbar-width: none;
  }
  
  .writeTable-wrapper::-webkit-scrollbar {
    display: none;
  }
