* {
  font-family: "Lato", sans-serif;
  margin: 0;
  color: white;
}
body{
  font-family: "Lato", sans-serif;
  position: relative;
  z-index: 1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: center; 
}

input[type="checkbox"]{
  display: none;
}

.checkbox-circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked + .checkbox-circle {
  background-color: red;
  border: 2px solid red;
}

header{
  display: flex;
  justify-content: space-between;
}

.btn-image{
  width: 100%;
}

main{
  display: flex;
  justify-content: space-between;
}

.arrow-icon {
  display: block;
  font-size: 20px; 
  text-align: center; 
}

.report-panel{
  z-index: 2;
  overflow: auto;
  background-color: #3f84a3;
  float: right;
  margin-bottom: 5vh;
  width: 33%;
}

